<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
<style>
  .error{
    color: red;
  }
</style>
  </head>
  <body>
    <h1>Change Password</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p>{{error}}</p>        
        {% endfor %}
        {% endif %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors | striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="Save">
    </form>
  <a href="{% url 'profile' %}">Profile</a> <br>
  <a href="{% url 'logout' %}">Logout</a>
  
</body>
</html>