<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
<style>
  .error{
    color: red;
  }
</style>
  </head>
  <body>
    <h1>Login form</h1>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors  %}
        <p class="error">{{error}}</p>
        {% endfor %}
        {% endif %}
        <br>
        {% comment %} {{form.as_p}} {% endcomment %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="Login">
    </form>
    <a href="{% url 'signup'  %}">SignUp</a>
  
</body>
</html>