<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <style>
      .errorlist{
        list-style-type: none;
        color: red;
        padding: 0%;
        margin: 0%;
      }
    </style>
  </head>
  <body>
    <h1>Registeration form</h1>
    <form action="" method="POST" novalidate >
      {% csrf_token %}
      {{form.non_field_errors}}
      {% for field in form  %}
      <div>
        {{field.label_tag}} {{field}} 
        {% for error in field.errors %}
        <span class="errorlist">{{error}} </span>
        {% endfor %}
      </div>
      {% endfor %}
      {% comment %} {{form.as_p}} {% endcomment %}
      <input type="submit" id="submit" value="submit" />
      
    </form>
    <br><hr>


  </body>
</html>
